@model BrnMall .Web.Mobile.Models.WxQRCodeModel
@{
    ViewBag.Title = "推广海报";
    Layout = "~/mobile/views/shared/_layout.cshtml";
}


<div style="text-align:center;margin-bottom:70px">
<img src="@Model.picPth" width="100%" />
</div>


