<?xml version="1.0" encoding="utf-8"?>
<RDBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RDBSConnectString>Data Source=139.129.58.173;User ID=chuangmeng;Password=cmxh2016-6-1!@#$%)(*;Initial Catalog=cmall;Pooling=true</RDBSConnectString>
  <RDBSTablePre>bma_</RDBSTablePre>
  <RDBSType>SqlServer</RDBSType>
</RDBSConfigInfo>