<?xml version="1.0" encoding="utf-8" ?>
<WeiXinConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!--网站域名，必须80端口，不要以/结尾-->
  <Domain>http://www.cmxhsc.com</Domain>

  <!--微信Token-->
  <Token>migewan123456</Token>

  <!--微信消息体加密对应的EncodingAESKey-->
  <EncodingAESKey>6cnokIbmAsd6SWa0VNOHaytFhC4fOdxZCe0M6RG3jOz</EncodingAESKey>

  <!--微信AppId-->
  <AppID>wx9ec88e23d3f6435f</AppID>

  <!--微信AppSecret-->
  <AppSecret>5bc4f51014688c80ddbf3e8c6002321d</AppSecret>

  <!--用于微信支付的PartnerKey-->
  <PartnerKey>migewan123migewan456migewan789mg</PartnerKey>
  
  <!--用于微信支付的商户号-->
  <Mch_id>1326991601</Mch_id>

  <!--用于微信支付的设备号-->
  <Device_info>6000</Device_info>

  <!--用于微信支付的服务端IP地址-->
  <Spbill_create_ip>139.129.58.173</Spbill_create_ip>

  <!--证书路径,注意应该填写绝对路径-->
  
  <SSLCERT_PATH>~/cert/apiclient_cert.p12</SSLCERT_PATH>
  <!--<SSLCERT_PATH>D:\wwwroot\CMALL\cert\apiclient_cert.p12</SSLCERT_PATH>-->
  <!--证书密码-->
  <SSLCERT_PASSWORD>1326991601</SSLCERT_PASSWORD>
 
  <!--支付回调URL-->
  <NOTIFY_URL>http://www.cmxhsc.com/mob/Wxpay/Notify</NOTIFY_URL>
  
</WeiXinConfig>
