<div class="box_exp">
    <ul>
        <li style="width:25%"><div class="line"><a href="javascript:void(0);" onclick="alert('开发中')"><i class="icon-bell-alt yellow"></i><span>积分商城</span></a></div></li>
        <li style="width:25%"><div class="line"><a href="/mob/catalog/category?cateid=6"><i class="icon-shopping-cart blue"></i><span>会员商品</span></a></div></li>
        <li style="width:25%"><div class="line"><a href="/mob/catalog/category?cateid=6"><i class="icon-time blue"></i><span>限时特价</span></a></div></li>
        <li style="width:25%"><div class="line2"><a href="javascript:void(0);" onclick="alert('开发中')"><i class="icon-trophy pink"></i><span>精品游戏</span></a></div></li>
        <li style="width:25%"><div class="line3"><a href="/mob/ucenter/orderlist" ><i class="icon-truck greens"></i><span>订单查询</span></a></div></li>
        <li style="width:25%"><div class="line3"><a href="javascript:void(0);" onclick="alert('开发中')"><i class="icon-screenshot red"></i><span>创梦公益</span></a></div></li>
        <li style="width:25%"><div class="line3"><a href="javascript:void(0);" onclick="alert('开发中')"><i class="icon-gift yellow"></i><span>会员礼品</span></a></div></li>
        <li style="width:25%"><a href="#"><i class="icon-info-sign green"></i><span>意见反馈</span></a></li>
    </ul>
</div>
