
<div id="nav-footer">
    <ul>
        <li style="width:25%" class="on"><a href="index.html"><i class="icon-home"></i>商城首页</a></li>
        <li style="width:25%"><a href="class.html"><i class="icon-reorder"></i>商品分类</a></li>
        <li style="width:25%"><a href="cart.html"><i class="icon-shopping-cart"></i>购物车</a></li>
        <li style="width:25%"><a href="index.html"><i class="icon-user"></i>会员中心</a></li>
    </ul>
</div>