@model BrnMall.Web.Framework.PromptModel
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>消息提示-@{@WorkContext.MallConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.MallConfig.SEOKeyword)
    @Html.Raw(WorkContext.MallConfig.SEODescription)
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="@{@WorkContext.CSSCDN}/mobile/css/base.css" rel="stylesheet" type="text/css">
    <script src="@{@WorkContext.ScriptCDN}/mobile/scripts/jquery.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/mobile/scripts/common.js" type="text/javascript"></script>
    <script type="text/javascript">
        function tisreal() {
            var parms = new Object();
            parms["uid"] = @WorkContext.Uid;
            $.post("/mob/weixin/isreal", parms, tisrealResponse)
        }
        function tisrealResponse() {
            window.location.href = "/mob/";
        }

        var countdown = 1;
        function settime() {
            var val = document.getElementById("btn_ok");
            if (countdown == 0) {
                val.removeAttribute("disabled");
                val.value = "同意协议并继续";
                //countdown = 60;
            } else {
                val.setAttribute("disabled", true);
                val.value = "同意协议并继续(" + countdown + ")";
                countdown--;
            }
            setTimeout(function () {
                settime(val)
            }, 1000)
        }
    </script>
</head>

<body style="background:#fff;" onload="settime()">
    @Html.Partial("_header")
    <script type="text/javascript">
        $("#headerTitle").html("消息提示");

    </script>

    <div style="text-align:center;width:100%;height:100%;">
        <div style="font-size:50px">创梦星火商城协议</div>
        <textarea style="width:100%;height:1200px; font-size:30px;color: blue" disabled="disabled">
                本协议由您与福建米哥网络科技有限公司-创梦星火商城（以下简称本商城）共同缔结，具有合同效
力。
    “创梦星火”（微信号：cmxh2016）系本商城在微信平台运行的公众服务号平台。
    为保障您使用本商城开发的“创梦星火”服务，您应当阅读并遵守《微信电子商务服务协议》、《
腾讯服务协议》、《QQ号码规则》、《腾讯微信软件许可及服务协议》以及《微信公众平台服务协议》
等相关协议及业务规则。请您务必审慎阅读、充分理解各条款内容，特别是限制或免除责任的相应条款
，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制或免除责任条款可能以加粗形式提
示您注意。 
 一、 协议内容及签署
    1.本协议内容包括协议正文及所有“创梦星火”已经发布的或将来可能发布的各类规则。所有规则
为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何本商城开发的
或将来开发的其他服务项目均受本协议约束。
    2.您应当在使用“创梦星火”服务之前认真阅读全部协议内容，对于协议中以加粗字体显示的内容
，您应重点阅读。如您对协议有任何疑问的，应向“创梦星火”咨询。但无论您事实上是否在使用“创
梦星火”服务之前认真阅读了本协议内容，只要您使用“创梦星火”服务，则本协议即对您产生约束，
届时您不应以未阅读本协议的内容或者未获得“创梦星火”对您问询的解答等理由，主张本协议无效，
或要求撤销本协议。
    3.您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使
用“创梦星火”服务。
    4.“创梦星火”有权根据需要不时地制订、修改本协议及/或各类规则，并以“创梦星火”微信服务
号公示的方式进行公告，不再单独通知您。变更后的协议和规则一经在“创梦星火”微信服务号公示后
，立即自动生效。如您不同意相关变更，应当立即停止使用“创梦星火”服务。您继续使用“创梦星火
”服务的，即表示您接受经修订的协议。
二、 注册
    1.注册者资格
      您确认，在您完成注册程序或以其他本商城允许的方式实际使用“创梦星火”服务时，您应当是
具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则
您及您的监护人应承担因此而导致的一切后果，且本商城有权注销（永久冻结）您的“创梦星火”账户
，取消您在“创梦星火”享有的任何权利，并保留向您及您的监护人索赔的权利。
    2.账户
      在您签署本协议，完成会员注册程序或以其他“创梦星火”允许的方式实际使用“创梦星火”服
务时，本商城会向您提供唯一编号的“创梦星火”账户（以下亦称账户）。
      当您申请取得“创梦星火”的账户后，逾期15日未登陆 “创梦星火”的，本商城有权冻结您”创
梦星火”账户，逾期30日未登陆 “创梦星火”的，本商城有权终止向您提供“创梦星火”服务，注销您
的账户，取消您在“创梦星火”享有的任何权利。
      您应对您的账户安全，以及对通过您的账户实施的行为负责。除非有法律规定或司法裁定，且征
得本商城的同意，否则，账户不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。如果
发现任何人不当使用您的账户或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通
知本商城，要求本商城暂停相关服务。您理解本商城对您的请求采取行动需要合理时间，本商城对在采
取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。
      为方便您使用“创梦星火”服务及本商城开发的其他项目或服务您同意并授权本商城将您在注册
、使用”创梦星火”服务过程中提供、形成的信息传递给本商城开发的其他项目或服务。
    3.会员
      在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他本商城允许
的方式实际使用“创梦星火”服务时，您即成为“创梦星火”会员（亦称会员）。
      在注册时，您应当按照法律法规要求，或注册页面的提示准确提供，并及时更新您的资料，以使
之真实、及时，完整和准确。如本商城有合理理由怀疑您提供的资料错误、不实、过时或不完整的，本
商城有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对
您提供部分或全部“创梦星火”服务。本商城对此不承担任何责任，您将承担因此产生的任何直接或间
接支出。
      您应当准确填写并及时更新您提供的电子邮件地址、联系电话、微信等联系方式，以便本商城或
其他会员与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用“创梦星火”服务
过程中产生任何损失或增加费用的，应由您完全独自承担。
      您在使用“创梦星火”服务过程中，所产生的一切硬件、软件、服务及其它方面的费用，均由您
独自承担。
三、 “创梦星火”服务
    1.通过本商城提供的“创梦星火”服务和其它服务，会员可将在“创梦星火”取得的新会员注册权
在法律、法规允许的范围内进行推广，因您的不当推广行为产生的一切不利后果均由您自行承担。给本
商城造成损失的，本商城有权向您索赔。
    2.您在“创梦星火”上与其他会员发生纠纷时，一旦您或其它会员任一方或双方共同提交本商城要
求调处，则本商城有权根据单方判断做出调处决定，您了解并同意接受本商城的判断和调处决定。该决
定将对您具有法律约束力。
    3.您了解并同意，本商城有权应政府部门（包括司法及行政部门）的要求，向其提供您在“创梦星
火”填写的注册信息和相关纪录等必要信息。如您涉嫌侵犯他人权益，则本商城亦有权在初步判断涉嫌
侵权行为存在的情况下，向权利人提供您必要的身份信息。
四、 “创梦星火”服务使用规范
    1.在使用“创梦星火”服务过程中，您承诺遵守以下约定：
      a) 在使用“创梦星火”服务过程中实施的所有行为均遵守国家法律、法规等规范性文件及“创梦
星火”各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协
议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责
任，并确保本商城免于因此产生任何损失。
      b) 在与其他会员注册过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网络的正常秩
序。
      c) 不发布国家禁止销售的或限制销售的商品或服务信息（除非取得合法且足够的许可），不发布
涉嫌侵犯他人知识产权或其它合法权益的商品或服务信息，不发布违背社会公共利益或公共道德或本商
城认为不适合在“创梦星火”平台上销售的商品或服务信息，不发布其它涉嫌违法或违反本协议及各类
规则的信息。
      d) 不以虚构或歪曲事实的方式不当评价其他会员，不采取不正当方式制造或提高自身的信用度，
不采取不正当方式制造或提高（降低）其他会员的信用度。
      e) 不对“创梦星火”上的任何数据作商业性利用，包括但不限于在未经本商城事先书面同意的情
况下，以复制、传播等任何方式使用“创梦星火”公众服务号上展示的资料。
      f) 不使用任何装置、软件或例行程序干预或试图干预“创梦星火”的正常运作或正在“创梦星火
”上进行的任何注册、活动。您不得采取任何将导致不合理的庞大数据负载加诸“创梦星火”网络设备
的行动。
    2.您了解并同意：
      a) 本商城有权对您是否违反上述承诺做出单方认定，并根据单方认定结果适用规则予以处理或终
止向您提供服务，且无须征得您的同意或提前通知予您。
      b) 经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者本商城根据自身的判
断，认为您的行为涉嫌违反本协议和/或规则的条款或涉嫌违反法律法规的规定的，则本商城有权在“创
梦星火”上公示您的该等涉嫌违法或违约行为及创梦星火已对您采取的措施。
      c) 对于您在“创梦星火”上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的
信息，本商城有权不经通知您即予以删除，且按照规则的规定进行处罚。
      d) 对于您在“创梦星火”上实施的行为，包括您未在“创梦星火”上实施但已经对“创梦星火”
及其其他会员产生影响的行为，本商城有权单方认定您行为的性质及是否构成对本协议和/或规则的违反
，并据此作出相应处罚。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不
利后果。
      e) 对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的
法律责任，并应确保本商城免于因此产生损失或增加费用。
      f) 如您涉嫌违反有关法律或者本协议之规定，使本商城遭受任何损失，或受到任何第三方的索赔
，或受到任何行政管理部门的处罚，您应当赔偿本商城因此造成的损失及（或）发生的费用，包括合理
的律师费用。
五、 特别授权
    您完全理解并不可撤销地授予本商城下列权利：
    1.一旦您向本商城或本商城开发的其他项目或服务或本商城的关联公司作出任何形式的承诺，且前
述公司已确认您违反了该承诺，则本商城有权立即按您的承诺或协议约定的方式对您的账户采取限制措
施，包括中止或终止向您提供服务，并公示前述公司确认的您的违约情况。您了解并同意，本商城无须
就相关确认与您核对事实，或另行征得您的同意，且本商城无须就此限制措施或公示行为向您承担任何
的责任。
    2.一旦您违反本协议，或与本商城签订的其他协议的约定本商城有权以任何方式通知本商城相关关
联公司或利害关系人，要求其对您的权益采取限制措施，包括但不限于要求将您账户注销，要求关联公
司或利害关系人中止、终止对您提供部分或全部服务，且在其经营或实际控制的任何平台公示您的违约
情况。
    3.对于您提供的资料及数据信息，您授予本商城及关联公司独家的、全球通用的、永久的、免费的
许可使用权利 (并有权在多个层面对该权利进行再授权)。此外，本商城及关联公司有权(全部或部分地) 
使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据（包括但不限于注册资料
、交易行为数据及全部展示于本商城的各类信息）或制作其派生作品，并以现在已知或日后开发的任何
形式、媒体或技术，将上述信息纳入其它作品内。
六、责任范围和责任限制
    1.本商城负责按“现状”和“可得到”的状态向您提供“创梦星火”服务。但本商城对“创梦星火
”服务不作任何明示或暗示的保证，包括但不限于“创梦星火”服务的适用性、没有错误或疏漏、持续
性、准确性、可靠性、适用于某一特定用途。同时，本商城也不对“创梦星火”服务所涉及的技术及信
息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。
    2.您了解“创梦星火”上的信息系用户自行发布，且可能存在风险和瑕疵。“创梦星火”仅作为服
务平台，仅作为您取得服务的场所，您应自行谨慎判断确定相关服务的真实性、合法性和有效性，并自
行承担因此产生的责任与损失。
    3.除非法律法规明确要求，或出现以下情况，否则，本商城及“创梦星火”没有义务对所有用户的
注册数据、服务信息、以及服务有关的其它事项进行事先审查：
      a) 本商城有合理的理由认为特定会员及具体服务事项可能存在重大违法或违约情形。
      b) 本商城有合理的理由认为会员在“创梦星火”的行为涉嫌违法或不当。
    4.本商城及关联公司有权受理您与其他会员因注册升级产生的争议，并有权单方判断与该争议相关
的事实及应适用的规则，进而作出处理决定。该处理决定对您有约束力。如您未在限期内执行处理决定
的，则本商城及关联公司有权利（但无义务）直接使用您的编号代为管理。您应及时弥补“创梦星火”
其他会员的损失，否则本商城有权直接抵减您在其它合同项下的权益，并有权继续追偿。您理解并同意
，本商城及关联公司并非司法机构，仅能以普通人的身份对证据进行鉴别，本商城及关联公司对争议的
调处完全是基于您的委托，本商城及关联公司无法保证争议处理结果符合您的期望，也不对争议调处结
论承担任何责任。如您因此遭受损失，您同意自行向其他会员或受益人索偿。
    5.您了解并同意，本商城不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利
润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论“创梦星火”是否已被告知该等
损害赔偿的可能性) ：
      a) 使用或未能使用“创梦星火”服务。
      b) 第三方未经批准的使用您的账户或更改您的数据。
      c) 您对“创梦星火”服务的误解。
      d) 任何非因”创梦星火”的原因而引起的与“创梦星火”服务有关的其它损失。
    6.不论在何种情况下，本商城均不对由于互联网正常的设备维护，互联网络连接故障，电脑、通讯
或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，
洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟
服务承担责任。
七、 协议终止
    1.您同意，本商城有权自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或全部“
创梦星火”服务，暂时冻结或永久冻结（注销）您的账户，且无须为此向您或任何第三方承担任何责任
。
    2.出现以下情况时，本商城有权直接以注销账户的方式终止本协议:
      a) 本商城终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为“创梦星火”会员
的；
      b) 您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或本商城
以其它联系方式通知您更改电子邮件信息，而您在本商城通知后三个工作日内仍未更改为有效的电子邮
箱的。
      c) 您注册信息中的主要内容不真实或不准确或不及时或不完整。
      d) 本协议（含规则）变更时，您明示并通知本商城不愿接受新的服务协议的；
      e) 其它本商城认为应当终止服务的情况。
    3.您有权向本商城要求注销您的账户，经本商城审核同意的，本商城注销（永久冻结）您的账户，
届时，您与本商城基于本协议关系即终止。您的账户被注销（永久冻结）后，本商城没有义务为您保留
或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。
    4.您同意，您与本商城的合同关系终止后，本商城仍享有下列权利
      a) 继续保存您的注册信息及您使用“创梦星火”服务期间的所有交易信息。
      b) 您在使用“创梦星火”服务期间存在违法行为或违反本协议或规则的行为的，本商城仍可依据
本协议向您主张权利。
    5.本商城中止或终止向您提供“创梦星火”服务后，对于您在服务中止或终止之前的行为依下列原
则处理，您应独力处理并完全承担进行以下处理所产生的任何争议、损失或增加的任何费用，并应确保
本商城免于因此产生任何损失或承担任何费用。
八、隐私权政策
    本商城将在“创梦星火”公布并不时修订隐私权政策，隐私权政策构成本协议的有效组成部分。
九、法律适用、管辖与其他
    1.本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，如无相关法律规定的
，则应参照通用国际商业惯例和（或）行业惯例。
    2.因本协议产生之争议，应依照中华人民共和国法律予以处理，并以龙岩市新罗区中级法院为第一
审管辖法院。
        </textarea>
        <br />
        <div>
            <br />
            <br />
            <input type="button" id="btn_ok" onclick="tisreal()" style="height: 100px;width: 200px;font-size: 20px;" />
            <input id="btn_cel" type="button" value="取消并退出" onclick="window.location.href='/mob/'" style="height: 100px;width: 200px;font-size: 20px;" />
        </div>
    </div>


</body>
</html>